body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:780px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:17px;
  top:63px;
  width:674px;
  height:37px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:674px;
  height:37px;
}
#u1 {
  position:absolute;
  left:0px;
  top:0px;
  width:674px;
  white-space:nowrap;
}
#u2 {
  position:absolute;
  left:17px;
  top:275px;
  width:283px;
  height:333px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:283px;
  height:333px;
}
#u3 {
  position:absolute;
  left:0px;
  top:0px;
  width:283px;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:320px;
  top:150px;
  width:180px;
  height:288px;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:288px;
}
#u5 {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:480px;
  top:150px;
  width:300px;
  height:400px;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:400px;
}
#u7 {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  word-wrap:break-word;
}
#u8 {
  position:absolute;
  left:14px;
  top:110px;
  width:290px;
  height:228px;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:290px;
  height:228px;
}
#u9 {
  position:absolute;
  left:2px;
  top:106px;
  width:286px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10 {
  position:absolute;
  left:17px;
  top:23px;
  width:299px;
  height:30px;
}
#u10_menu {
  position:absolute;
  left:-3px;
  top:-3px;
  width:305px;
  height:36px;
}
#u11 {
  position:absolute;
  left:0px;
  top:0px;
  width:304px;
  height:35px;
}
#u12 {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:30px;
  text-align:center;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:30px;
}
#u13 {
  position:absolute;
  left:2px;
  top:7px;
  width:95px;
  word-wrap:break-word;
}
#u14 {
  position:absolute;
  left:99px;
  top:0px;
  width:100px;
  height:30px;
  text-align:center;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u15 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  word-wrap:break-word;
}
#u16 {
  position:absolute;
  left:199px;
  top:0px;
  width:100px;
  height:30px;
  text-align:center;
}
#u16_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u17 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  word-wrap:break-word;
}
