body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:699px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:0px;
  top:39px;
  width:699px;
  height:37px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:699px;
  height:37px;
}
#u1 {
  position:absolute;
  left:0px;
  top:0px;
  width:699px;
  white-space:nowrap;
}
#u2 {
  position:absolute;
  left:390px;
  top:57px;
  width:300px;
  height:384px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:384px;
}
#u3 {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:0px;
  top:86px;
  width:380px;
  height:244px;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:380px;
  height:244px;
}
#u5 {
  position:absolute;
  left:2px;
  top:114px;
  width:376px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:10px;
  top:9px;
  width:300px;
  height:30px;
}
#u6_menu {
  position:absolute;
  left:-3px;
  top:-3px;
  width:306px;
  height:36px;
}
#u7 {
  position:absolute;
  left:0px;
  top:0px;
  width:305px;
  height:35px;
}
#u8 {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
  text-align:center;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u9 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  word-wrap:break-word;
}
#u10 {
  position:absolute;
  left:100px;
  top:0px;
  width:100px;
  height:30px;
  text-align:center;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u11 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  word-wrap:break-word;
}
#u12 {
  position:absolute;
  left:200px;
  top:0px;
  width:100px;
  height:30px;
  text-align:center;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u13 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  word-wrap:break-word;
}
